name: Test WDLs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CROMWELL_VERSION: 91

jobs:

  #Run WDL plumbing tests
  wdlTests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        wdlTest: [ 'STATISTICAL_PHASING_WDL' ]
    continue-on-error: true
    name: WDL test ${{ matrix.wdlTest }} on Cromwell
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/purge-runner-disk
      - name: pull lfs files
        run: git lfs pull
      - name: Set up java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: ./.github/actions/install-cromwell
        with:
          CROMWELL_VERSION: ${{ env.CROMWELL_VERSION }}

      - name: "STATISTICAL_PHASING_WDL"
        if: ${{ matrix.wdlTest == 'STATISTICAL_PHASING_WDL' }}
        run: |
          echo "Running statistical phasing WDL";
          bash scripts/cromwell_tests/statistical_phasing.sh;
